<div class="home">
  <div class="container-fluid" style="height: 100%">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div class="row">
          <div class="col-md-offset-3 col-md-6 text-center">
            <img src="img/home/logo.png" class="img-responsive" alt="logo" />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon-menu text-center" ng-if="!$root.isNavOpen">
          <a ng-class="{'icon-white': ('home' | isState), 'icon-blue': !('home' | isState) }" href="" ng-click="vm.toggleNav()"><i class="fa fa-bars fa-4x"></i></a>
        </div>
      </div>
    </div>
    <div class="row margin-home-mobile">
      <div class="col-xs-6 col-md-3 text-center parent">
        <div class="element"><img src="img/home/lieu.png" class="img-responsive" alt="lieu" /></div>
      </div>
      <div class="col-xs-6 col-md-offset-6 col-md-3 text-center parent">
        <div class="element" ng-if="!$root.isNavOpen"><img src="img/home/date.png" class="img-responsive" alt="date" /></div>
      </div>
    </div>
    <div class="social-network hidden-sm hidden-xs">
      <div class="row">
        <div class="margin-bottom-15">
          <a class="icon-white" href="https://www.facebook.com/cometefestival/?fref=ts " target="_blank">
            <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
          </a>
        </div>
        <div>
          <a class="icon-white" href="https://www.instagram.com/cometefestival" target="_blank">
            <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="social-network visible-xs visible-sm">
      <div class="row">
        <a class="icon-white margin-right-5" href="https://www.facebook.com/cometefestival/?fref=ts " target="_blank">
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </a>
        <a class="icon-white" href="https://www.instagram.com/cometefestival" target="_blank">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>