<div class="project overflow-hidden">
  <div class="container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <h1 class="project-titre text-center" style="color: rgb(222, 135, 128)"><strong class="border-title-red">PROJET</strong></h1>
        </div>
        <div class="col-xs-3">
          <div class="icon-menu text-center" ng-if="!$root.isNavOpen">
            <a class="hidden-xs hidden-sm" ng-class="{'icon-white': ('home' | isState), 'icon-blue': !('home' | isState) }" href="" ng-click="vm.toggleNav()"><i class="fa fa-bars fa-4x"></i></a>
            <a class="visible-xs visible-sm"ng-class="{'icon-white': ('home' | isState), 'icon-blue': !('home' | isState) }" href="" ng-click="vm.toggleNav()"><i class="fa fa-bars fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row project-bg">
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 parent" style="height: 100%">
        <div class="project-text text-center element">
          <p>
            <div>Art, Bien-ëtre et Développement Durable sont les maîtres  </div>
            <div>mots de Comète. Notre équipe s'est fondée autour </div>
            <div>de cette idée qu'il est possible de s'évader, durant un grand</div>
            <div>rassemblement, en prenant soin des autres, de soi et de ce</div>
            <div>qui nous entoure.</div>
          </p>
          <p>
            <div>Musique, Performances,</div>
            <div>Art-Thérapie, Scénographie,</div>
            <div>seront mis à l'honneur lors d'un rendez vous placé sous le</div>
            <div>signe de l'échange, de l'ouverture et de la découverte.</div>
          </p>
          <div class="row padding-top-30 padding-bottom-30">
            <div class="col-xs-offset-4 col-xs-4 col-md-offset-5 col-md-2">
                <img style="color: black" src="img/project/zig-zag.png" class="img-responsive" alt="zigzag">
            </div>
          </div>
          <p>
            <div>Réveillez-vous avec un cours de yoga à La Maison Nomade,</div>
            <div>laissez vous porter par les premières notes de la Scène</div>
            <div>Comète, puis vibrez dans les univers déjantés proposés par</div>
            <div>l'imprévisible Forêt Stellaire...</div>
          </p>
          <p>
            <div>Bienvenue en plein nature bretonne, au bord d'un lac pour</div>
            <div>partager le temps d'un week-end une expérience</div>
            <div>pluri-culturelle, sensorielle et</div>
            <div>spirituelle.</div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
