/*############################## UTILS ######################################*/

h1 {
	font-size: 48px !important;
}

.noscroll {
	overflow-y: hidden;
}
.border-title-red {
  border-top: 3px rgb(222, 135, 128) solid;
  border-bottom: 3px rgb(222, 135, 128) solid;
}

.border-title-blue {
  border-top: 3px rgb(21, 90, 109) solid;
  border-bottom: 3px rgb(21, 90, 109) solid;
}

.color-blue {
  color: rgb(21, 90, 109);
}

.color-red {
  color: rgb(222, 135, 128);
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.no-padding {
  padding: 0px;
}

.parent {
	position: relative;
	height: 100%;
	text-align: center;  /* align the inline(-block) elements horizontally */
	font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.parent:before {    /* create a full-height inline block pseudo=element */
	content: ' ';
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	height: 100%;
}

.element {
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	font: 16px/1 'Montserrat', sans-serif;        /* <-- reset the font property */
}

/*############################## HOME ######################################*/

.home {
  height: 100vh;
  background: url("../img/home/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}


.vmiddle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  text-align: center;
}

/*############################## NAVIGATION ######################################*/

.navigation {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 25%;
  right: 0;
  top: 0;
  bottom: 0;
}

.navigation-aside {
  height: 100%;
}

.navigation-open {
  background-color: rgba(71, 113, 135, 0.5);
}

.menu {
  position: relative;
  /*width: 25%;*/
  height: 100%;
}

.inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  /*width: 25%;*/
  height: auto;
}

.menu-text, .menu-text:active {
  color: white;
  text-decoration: none;
}

.menu-text:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.active {
  color: rgb(230, 230, 230);
}
/*
.menu-text:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
}*/

/*.menu-text:visited {
  color: rgb(230, 230, 230);
  text-decoration: none;
}*/

.menu-list {
  color: white;
  font-size: 18px;
}

.menu-list > li {
  padding-bottom: 30%;
}

.icon-white {
  color: white;
}

.icon-white:hover {
  color: rgb(230, 230, 230);
}

.icon-blue {
  color: rgb(21, 90, 109);
}

.icon-blue:hover {
  color: rgb(46, 49, 81);
}

.icon-menu {
  padding-top: 46px;
}

/*############################## FOOTER ######################################*/
#footer {
  position: relative;
  z-index: 100;
  /*width: 100%;*/
  height: 150px;
  /*bottom: 0;*/
  background-color: white;
  color: black;
}

.footer-padding {
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Montserrat', sans-serif;
}

#footer p {
  padding-bottom: 10%;
}

/*############################## PROJECT ######################################*/
.project {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.project-titre {
  padding-top: 40px;
  padding-bottom: 40px;
}

.project-bg {
	height: 600px;
  background: url("../img/project/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.project-text {
  color: black;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*############################## PROGRAMMATION ######################################*/
.programmation {
  font-family: 'Montserrat', sans-serif;
  /*position: relative;*/
}

.prog-text {
  color: black;
  font-size: 20px;
}

.prog-title {
	display: block;
	margin: 0 auto;
	height: 150px;
}

.prog-maison {
	background: url("../img/programmation/bg_maisonNomade.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.prog-green {
	background: url("../img/programmation/bg_artist.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.prog-activities {
	background: url("../img/programmation/bg_activities.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.artist {
	background: url("../img/programmation/bg_artist.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.artist-text {
	line-height: 150%;
	text-align: left;
}

.img-artist {
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}

.icon-black {
  color: black;
}

.icon-black:hover {
  color: rgb(21, 90, 109);
}
