/*############################## UTILS ######################################*/

h1 {
	font-size: 48px !important;
}

.noscroll {
	overflow-y: hidden;
}
.border-title-red {
  border-top: 3px rgb(222, 135, 128) solid;
  border-bottom: 3px rgb(222, 135, 128) solid;
}

.border-title-blue {
  border-top: 3px rgb(21, 90, 109) solid;
  border-bottom: 3px rgb(21, 90, 109) solid;
}

.color-blue {
  color: rgb(21, 90, 109);
}

.color-red {
  color: rgb(222, 135, 128);
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.no-padding {
  padding: 0px;
}

.parent {
	position: relative;
	height: 100%;
	text-align: center;  /* align the inline(-block) elements horizontally */
	font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.parent:before {    /* create a full-height inline block pseudo=element */
	content: ' ';
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	height: 100%;
}

.element {
	display: inline-block;
	vertical-align: middle;  /* vertical alignment of the inline element */
	font: 16px/1 'Montserrat', sans-serif;        /* <-- reset the font property */
}



/*############################## HOME ######################################*/

.home {
  height: 100vh;
  background: url("../img/home/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

@media (max-width: 768px) {
	.margin-home-mobile {
		margin-top: 50px;
	}
}

.vmiddle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  text-align: center;
}

/*############################## NAVIGATION ######################################*/

@media (max-width: 768px) {
	.navigation {
		position: absolute;
		z-index: 1000;
		height: 100vh;
		width: 100%;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

@media (min-width: 768px) {
	.navigation {
		position: absolute;
		z-index: 1000;
		height: 100vh;
		width: 25%;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.navigation-aside {
  height: 100%;
}

.navigation-open {
  background-color: rgba(71, 113, 135, 0.8);
}

.menu {
  position: relative;
  /*width: 25%;*/
  height: 100%;
}

.inner {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  /*width: 25%;*/
  height: auto;
}

.menu-text, .menu-text:active {
  color: white;
  text-decoration: none;
}

.menu-text:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.active {
  color: rgb(200, 200, 200);
}
/*
.menu-text:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
}*/

/*.menu-text:visited {
  color: rgb(230, 230, 230);
  text-decoration: none;
}*/

.menu-list {
  color: white;
  font-size: 24px;
}

.menu-list > li {
  padding-bottom: 15%;
}

.icon-white {
  color: white;
}

.icon-white:hover {
  color: rgb(230, 230, 230);
}

.icon-blue {
  color: rgb(21, 90, 109);
}

.icon-blue:hover {
  color: rgb(46, 49, 81);
}

@media (min-width: 768px) {
	.icon-menu {
		padding-top: 46px;
	}
}

@media (max-width: 768px) {
	.icon-menu {
		padding-top: 38px;
	}
}

/*############################## FOOTER ######################################*/
#footer {
  position: relative;
  z-index: 100;
  /*height: 150px;*/
  background-color: white;
  color: black;
	font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
	.footer-padding {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.footer-padding {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer-list > li {
	  padding-bottom: 10px;
	}
}

#footer p {
  padding-bottom: 10%;
}

/*############################## PROJECT ######################################*/
.project {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

@media (min-width: 768px) {
	.project-titre {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.project-bg {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.project-text {
	  font-size: 20px;
	}
}

@media (max-width: 768px) {
	.project-titre {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 24px !important;
	}

	.project-bg {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.project-text {
	  font-size: 16px;
	}
}

.project-bg {
  background: url("../img/project/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.project-text {
  color: black;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*############################## INFOS ######################################*/

@media (max-width: 768px) {
	.infos-title {
		font-size: 18px;
	}

	.infos-text {
		font-size: 12px !important;
	}
}

/*############################## PROGRAMMATION ######################################*/
.programmation {
  font-family: 'Montserrat', sans-serif;
  /*position: relative;*/
}

@media (max-width: 768px) {
	.prog-title {
		display: block;
		margin: 0 auto;
		height: 75px;
	}

	.prog-maison {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.prog-padding {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.prog-green {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.prog-text {
	  color: black;
	  font-size: 14px;
	}
}

@media (min-width: 768px) {
	.prog-title {
		display: block;
		margin: 0 auto;
		height: 150px;
	}

	.prog-maison {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.prog-padding {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.prog-green {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.prog-text {
		color: black;
		font-size: 20px;
	}
}

.prog-maison {
	background: url("../img/programmation/bg_maisonNomade.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.prog-green {
	background: url("../img/programmation/bg_artist.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.prog-activities {
	background: url("../img/programmation/bg_activities.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.artist {
	background: url("../img/programmation/bg_artist.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.artist-text {
	line-height: 150%;
	text-align: left;
}

.img-artist {
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}

/*############################## TICKETS ######################################*/
.tickets {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.tickets-titre {
  padding-top: 40px;
  padding-bottom: 40px;
}


.tickets-bg {
	height: 500px;
  background: url("../img/project/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.tickets-text {
	color: black;
	font-size: 24px;
	text-decoration: underline;
}

.tickets-text:hover, .tickets-text:visited {
	color: black;
	font-size: 24px;
}

/*############################## CONTACTS ######################################*/
.contacts {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

@media (min-width: 768px) {
	.contacts-bg {
		height: 500px;
	}
}


@media (max-width: 768px) {
	.contact {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.contacts-bg {
  background: url("../img/project/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-img {
	display: block;
	margin: 0 auto;
	height: 150px;
}

.contacts-text {
	color: rgb(21, 90, 109);
}
