/*############################## HOME ######################################*/

.home {
  height: 100vh;
  background: url("img/home/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-left: 200px;
}

.logo {
  text-align: center;
}

/*############################## NAVIGATION ######################################*/

.navigation {
  position: relative;
}

.navigation-aside {
  z-index: 100;
  height: 100vh;
  width: 200px;
  overflow-y: hidden;
}

.navigation-open {
  background-color: rgba(71, 113, 135, 0.5);
}

.menu {
  display: table-cell;
  width: 200px;
  height: inherit;
  vertical-align: middle;
  text-align: center;
}

.inner {
  display: inline-block;
  height: auto;
  margin-bottom: 56px;
}

.menu-list {
  color: white;
  font-size: 18px;
}

.menu-list > li {
  padding-bottom: 20%;
}

.icon {
  color: white;
}

.icon:hover {
  color: rgb(230, 230, 230);
}

.icon-menu {
  margin-top: 10%;
}


/*############################## Mixgen ######################################*/

.padding-top-lg {

}
