<div class="navigation">
	<div class="navigation-aside" ng-class="{'navigation-open': vm.isNavOpen, 'aosp-fix': isAosp, 'no-chrome': !isChrome}">
		<div class="menu text-center">
			<div class="icon-menu" ng-if="!vm.isNavOpen">
				<a class="icon" href="" ng-click="vm.toggleNav()"><i class="fa fa-bars fa-4x"></i></a>
			</div>
			<a class="icon pull-right" href="" ng-if="true" ng-click="vm.toggleNav()"><i class="fa fa-times fa-4x"></i></a>
			<div class="inner text-center" ng-if="vm.isNavOpen">
				<ul class="list-unstyled menu-list">
					<li>
						<strong class="text-uppercase white"><a href="" ui-sref="project" class="">Projet</a></strong>
					</li>
					<li>
						<strong class="text-uppercase white">Info</strong>
					</li>
					<li>
						<strong class="text-uppercase white">Programmation</strong>
					</li>
					<li>
						<strong class="text-uppercase white">Billets</strong>
					</li>
					<li>
						<strong class="text-uppercase white">Contacts</strong>
					</li>
				</ul>
			</div>
	</div>
</div>
</div>
