<div class="navigation pull-right">
	<div class="navigation-aside" ng-init="vm.open = false" ng-class="{'navigation-open': vm.open, 'aosp-fix': isAosp, 'no-chrome': !isChrome}">
		<div class="icon-menu text-center" ng-if="!vm.open">
			<a class="icon" href="" ng-click="vm.open = true"><i class="fa fa-bars fa-4x"></i></a>
		</div>
		<a class="icon pull-right" href="" ng-if="vm.open" ng-click="vm.open = false"><i class="fa fa-times fa-4x"></i></a>
		<div class="menu">
			<div class="inner" ng-if="vm.open">
				<ul class="list-unstyled menu-list">
					<li>
						<strong class="text-uppercase">Projet</strong>
					</li>
					<li>
						<strong class="text-uppercase">Info</strong>
					</li>
					<li>
						<strong class="text-uppercase">Programmation</strong>
					</li>
					<li>
						<strong class="text-uppercase">Billets</strong>
					</li>
					<li>
						<strong class="text-uppercase">Contacts</strong>
					</li>
				</ul>
			</div>
			<!-- <a href="" ui-sref="login" rel="nofollow" ui-sref-active="active" class="list-group-item list-group-item-user interstate-bold visible-xs" ng-if="(!session || session.type === 'anonymous') && isTouch && !vm.currentCategory">
			<i class="icon-itm-user text-18-xs vmiddle padding-right-xs-xs"></i>
			<strong class="vmiddle">{{ 'header.login' | translate }}</strong>
		</a> -->
		</>
	</div>
</div>
