<div class="artist">
  <div class="container-fluid">
    <div class="row visible-xs visible-sm">
      <div class="col-xs-offset-9 col-xs-3 margin-top-20">
        <a class="icon-blue pull-right" href="" ng-click="vm.close()">
          <img src="img/home/close.png" class="img-responsive" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1 class="text-center color-blue margin-bottom-30 hidden-xs hidden-sm"><strong class="border-title-blue">{{ vm.artist.name }}</strong></h1>
        <h1 class="text-center color-blue margin-bottom-30 visible-xs visible-sm"><strong>{{ vm.artist.name }}</strong></h1>
      </div>
      <div class="col-xs-1 hidden-xs hidden-sm">
        <!--<a class="icon-blue pull-right" href="" ng-click="vm.close()"><i class="fa fa-times fa-4x"></i></a>-->
        <a class="icon-blue pull-right" href="" ng-click="vm.close()">
          <img src="img/home/close.png" class="img-responsive margin-top-20">
        </a>
      </div>
    </div>
    <div class="row margin-artist hidden-xs hidden-sm">
      <div class="col-md-offset-4 col-md-4 parent" style="height: 500px">
        <div class="element">
          <img src="{{ vm.artist.img }}" class="img-responsive" alt="{{ vm.artist.name }}" />
        </div>
      </div>
      <div class="col-md-4 parent" style="height: 500px">
        <div class="element artist-text">
          {{ vm.artist.text }}
        </div>
      </div>
    </div>
    <div class="row margin-artist visible-xs visible-sm">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="">
          <img src="{{ vm.artist.img }}" class="img-responsive" alt="{{ vm.artist.name }}" />
        </div>
      </div>
      <div class="col-xs-offset-1 col-xs-10 padding-top-30">
        <div class="artist-text text-center">
          {{ vm.artist.text }}
        </div>
      </div>
    </div>
    <div class="row margin-bottom-15">
      <div class="col-xs-12">
        <a ng-if="vm.artist.fb" ng-href="{{ vm.artist.fb }}" target="_blank" class="music">
          <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i>
        </a>
        <a ng-if="vm.artist.sc" ng-href="{{ vm.artist.sc }}" target="_blank" class="orange music">
          <i class="fa fa-soundcloud fa-4x" aria-hidden="true"></i>
        </a>
        <a ng-if="vm.artist.yt" ng-href="{{ vm.artist.yt }}" target="_blank" class="red music">
          <i class="fa fa-youtube fa-4x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
