<div class="programmation" style="overflow:hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6">
        <h1 class="project-titre text-center color-red"><strong class="border-title-red">PROGRAMMATION</strong></h1>
      </div>
      <div class="col-xs-3">
        <div class="icon-menu text-center" ng-if="!$root.isNavOpen">
          <a ng-class="{'icon-white': ('home' | isState), 'icon-blue': !('home' | isState) }" href="" ng-click="vm.toggleNav()"><i class="fa fa-bars fa-4x"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-5 col-xs-2 text-center">
        Artistre
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 text-center">
        <img src="img/programmation/artists/Aglaska_1.png"  onmouseover="this.src='img/programmation/artists/Aglaska_2.png'" onmouseout="this.src='img/programmation/artists/Aglaska_1.png'" class="img-responsive" alt="aglaska">
      </div>
      <div class="col-xs-2 text-center">
        <img src="img/programmation/artists/Bambounou_1.png"  onmouseover="this.src='img/programmation/artists/Bambounou_2.png'" onmouseout="this.src='img/programmation/artists/Bambounou_1.png'" class="img-responsive" alt="Bambounou">
      </div>
      <div class="col-xs-2 text-center">
        <img src="img/programmation/artists/CamionB_1.png"  onmouseover="this.src='img/programmation/artists/CamionB_2.png'" onmouseout="this.src='img/programmation/artists/CamionB_1.png'" class="img-responsive" alt="CamionB">
      </div>
      <div class="col-xs-2 text-center">
        <img src="img/programmation/artists/ColJ_1.png"  onmouseover="this.src='img/programmation/artists/ColJ_2.png'" onmouseout="this.src='img/programmation/artists/ColJ_1.png'" class="img-responsive" alt="Colj">
      </div>
      <div class="col-xs-2 text-center">
        <img src="img/programmation/artists/DesmondM_1.png"  onmouseover="this.src='img/programmation/artists/DesmondM_2.png'" onmouseout="this.src='img/programmation/artists/DesmondM_1.png'" class="img-responsive" alt="DesmondM">
      </div>
      <div class="col-xs-2 text-center">
        <img src="img/programmation/artists/Einleit_1.png"  onmouseover="this.src='img/programmation/artists/Einleit_2.png'" onmouseout="this.src='img/programmation/artists/Einleit_1.png'" class="img-responsive" alt="Einleit">
      </div>
    </div>
  </div>
</div>
