<div class="programmation" style="overflow:hidden">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-6 col-md-offset-3 col-md-6">
        <h1 class="project-titre text-center color-red"><strong class="border-title-red">PROGRAMMATION</strong></h1>
      </div>
      <div class="col-xs-offset-3 col-xs-3 col-md-offset-0 col-md-3">
        <div class="icon-menu text-center" ng-if="!$root.isNavOpen">
          <a class="hidden-xs hidden-sm" ng-class="{'icon-white': ('home' | isState), 'icon-blue': !('home' | isState) }" href="" ng-click="vm.toggleNav()"><i class="fa fa-bars fa-4x"></i></a>
          <a class="visible-xs visible-sm" ng-class="{'icon-white': ('home' | isState), 'icon-blue': !('home' | isState) }" href="" ng-click="vm.toggleNav()"><i class="fa fa-bars fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class="row prog-padding">
      <div class="col-xs-12 text-center">
        <img src="img/programmation/artists.png" class="img-responsive prog-title" alt="Artists">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 col-md-offset-3 col-md-2 text-center">
        <img src="img/programmation/artists/Aglaska_1.png" ng-click="vm.showArtist('aglaska')" onmouseover="this.src='img/programmation/artists/Aglaska_2.png'" onmouseout="this.src='img/programmation/artists/Aglaska_1.png'" class="img-responsive img-artist" alt="Aglaska">
      </div>
      <div class="col-xs-offset-2 col-xs-4 col-md-offset-0 col-md-2 text-center">
        <img src="img/programmation/artists/Bambounou_1.png" ng-click="vm.showArtist('bambounou')" onmouseover="this.src='img/programmation/artists/Bambounou_2.png'" onmouseout="this.src='img/programmation/artists/Bambounou_1.png'" class="img-responsive img-artist" alt="Bambounou">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/CamionB_1.png" ng-click="vm.showArtist('camionB')" onmouseover="this.src='img/programmation/artists/CamionB_2.png'" onmouseout="this.src='img/programmation/artists/CamionB_1.png'" class="img-responsive img-artist" alt="CamionB">
      </div>
      <div class="col-xs-4 col-md-offset-2 col-md-2 text-center">
        <img src="img/programmation/artists/ColJ_1.png" ng-click="vm.showArtist('colJ')" onmouseover="this.src='img/programmation/artists/ColJ_2.png'" onmouseout="this.src='img/programmation/artists/ColJ_1.png'" class="img-responsive img-artist" alt="Colj">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/DesmondM_1.png" ng-click="vm.showArtist('desmondD')" onmouseover="this.src='img/programmation/artists/DesmondM_2.png'" onmouseout="this.src='img/programmation/artists/DesmondM_1.png'" class="img-responsive img-artist" alt="DesmondM">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/Einleit_1.png" ng-click="vm.showArtist('einleit')" onmouseover="this.src='img/programmation/artists/Einleit_2.png'" onmouseout="this.src='img/programmation/artists/Einleit_1.png'" class="img-responsive img-artist" alt="Einleit">
      </div>
      <div class="col-xs-offset-2 col-xs-4 col-md-offset-0 col-md-2 text-center">
        <img src="img/programmation/artists/GramophilesC_1.png" ng-click="vm.showArtist('gramophilesC')" onmouseover="this.src='img/programmation/artists/GramophilesC_2.png'" onmouseout="this.src='img/programmation/artists/GramophilesC_1.png'" class="img-responsive img-artist" alt="HouseofM">
      </div>
      <div class="col-xs-4 col-md-offset-3 col-md-2 text-center">
        <img src="img/programmation/artists/HouseofM_1.png" ng-click="vm.showArtist('houseOfM')" onmouseover="this.src='img/programmation/artists/HouseofM_2.png'" onmouseout="this.src='img/programmation/artists/HouseofM_1.png'" class="img-responsive img-artist" alt="HouseofM">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/IsaacD_1.png" ng-click="vm.showArtist('isaacD')" onmouseover="this.src='img/programmation/artists/IsaacD_2.png'" onmouseout="this.src='img/programmation/artists/IsaacD_1.png'" class="img-responsive img-artist" alt="IsaacD">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/Judy_1.png" ng-click="vm.showArtist('judy')" onmouseover="this.src='img/programmation/artists/Judy_2.png'" onmouseout="this.src='img/programmation/artists/Judy_1.png'" class="img-responsive img-artist" alt="Judy">
      </div>
      <div class="col-xs-4 col-md-offset-2 col-md-2 text-center">
        <img src="img/programmation/artists/KoraJ_1.png" ng-click="vm.showArtist('koraJ')" onmouseover="this.src='img/programmation/artists/KoraJ_2.png'" onmouseout="this.src='img/programmation/artists/KoraJ_1.png'" class="img-responsive img-artist" alt="KoraJ">
      </div>
      <div class="col-xs-offset-2 col-xs-4 col-md-offset-0 col-md-2 text-center">
        <img src="img/programmation/artists/Kudiwa_1.png" ng-click="vm.showArtist('kudiwa')" onmouseover="this.src='img/programmation/artists/Kudiwa_2.png'" onmouseout="this.src='img/programmation/artists/Kudiwa_1.png'" class="img-responsive img-artist" alt="Kudiwa">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/LazareH_1.png" ng-click="vm.showArtist('lazareH')" onmouseover="this.src='img/programmation/artists/LazareH_2.png'" onmouseout="this.src='img/programmation/artists/LazareH_1.png'" class="img-responsive img-artist" alt="LazareH">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/MoneyP_1.png" ng-click="vm.showArtist('moneyP')" onmouseover="this.src='img/programmation/artists/MoneyP_2.png'" onmouseout="this.src='img/programmation/artists/MoneyP_1.png'" class="img-responsive img-artist" alt="MoneyP">
      </div>
      <div class="col-xs-4 col-md-offset-1 col-md-2 text-center">
        <img src="img/programmation/artists/Paradis_1.png" ng-click="vm.showArtist('paradis')" onmouseover="this.src='img/programmation/artists/Paradis_2.png'" onmouseout="this.src='img/programmation/artists/Paradis_1.png'" class="img-responsive img-artist" alt="Paradis">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/Rituel_1.png" ng-click="vm.showArtist('rituel')" onmouseover="this.src='img/programmation/artists/Rituel_2.png'" onmouseout="this.src='img/programmation/artists/Rituel_1.png'" class="img-responsive img-artist" alt="Rituel">
      </div>
      <div class="col-xs-offset-2 col-xs-4 col-md-offset-0 col-md-2 text-center">
        <img src="img/programmation/artists/RomainD_1.png" ng-click="vm.showArtist('romainD')" onmouseover="this.src='img/programmation/artists/RomainD_2.png'" onmouseout="this.src='img/programmation/artists/RomainD_1.png'" class="img-responsive img-artist" alt="RomainD">
      </div>
      <div class="col-xs-4 col-md-2 text-center">
        <img src="img/programmation/artists/SecretValueO_1.png" ng-click="vm.showArtist('secretValueO')" onmouseover="this.src='img/programmation/artists/SecretValueO_2.png'" onmouseout="this.src='img/programmation/artists/SecretValueO_1.png'" class="img-responsive img-artist" alt="SecretValueO">
      </div>
      <div class="col-xs-offset-4 col-xs-4 col-md-offset-0 col-md-2 text-center">
        <img src="img/programmation/artists/TeachKidsM_1.png" ng-click="vm.showArtist('teachKidsM')" onmouseover="this.src='img/programmation/artists/TeachKidsM_2.png'" onmouseout="this.src='img/programmation/artists/TeachKidsM_1.png'" class="img-responsive img-artist" alt="TeachKidsM">
      </div>
    </div>

    <div class="row">
      <div class="row prog-padding">
        <div class="col-xs-12 text-center">
          <img src="img/programmation/maisonNomade.png" class="img-responsive prog-title" alt="maisonNomade">
        </div>
      </div>
      <div class="prog-maison">
        <div class="row prog-padding">
          <div class="col-xs-12 col-md-offset-5 col-md-2 text-center">
            <div class="col-xs-offset-4 col-xs-4 col-md-offset-2 col-md-8">
              <img src="img/programmation/maisonNomadeSquare.png"class="img-responsive" alt="maisonNomadeSquare">
            </div>
          </div>
        </div>
        <div class="row prog-padding">
          <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 text-center prog-text">
            <p>
              <div>La Maison Nomade est un collectif</div>
              <div>itinérant initiateur d'équilibre et créateur de plaisir.</div>
            </p>
            <p>
              <div><strong>Eat Medit Treat</strong></div>
              <div>L'alimentation est notre premier</div>
              <div>médicament, elle est la base d'une première étape</div>
              <div>vers la santé.</div>
              <div>La méditation est une activité</div>
              <div>contribuant à l'équilibre physique et spirituel.</div>
              <div>Les médecines douces permettent de soigner de façon</div>
              <div>naturelle et contribuent au bien-être de façon</div>
              <div>pérenne.</div>
            </p>
            <p>
              <div>La Maison Nomade initiera son public à toutes ces pratiques</div>
              <div>pour prévenir le corps des agressions et ressourcer l'âme, le</div>
              <div>corps et l'esprit...</div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row prog-padding">
        <div class="col-xs-12 text-center">
          <img src="img/programmation/greenResistance.png" class="img-responsive prog-title" alt="greenResistance">
        </div>
      </div>
      <div class="prog-green">
        <div class="row prog-padding">
          <div class="col-xs-12 col-md-offset-5 col-md-2 text-center">
            <div class="col-xs-offset-4 col-xs-4 col-md-offset-2 col-md-8">
              <img src="img/programmation/greenResistanceSquare.png"class="img-responsive" alt="greenResistanceSquare">
            </div>
          </div>
        </div>
        <div class="row prog-padding">
          <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 text-center prog-text">
            <p>
              <div>Green Resistance est une</div>
              <div>association qui tend à préserver</div>
              <div>l'environnement et à promouvoir la culture sous toutes ses</div>
              <div>formes.</div>
            </p>
            <p>
              <div>Ce savant mélange de médiateurs culturels, paysagistes et</div>
              <div>scénographes élèvera Comète dans la famille de ces festivals</div>
              <div>qui se développent durablement et consciemment.</div>
              <div>La méditation est une activité</div>
            </p>
            <p>
              <div>"La diversité culturelle - tout comme la biodiversité et l'une</div>
              <div>des plus grandes richesses pour les individus et les sociétés."</div>
              <div>C'est autour de cette valeur essentielle que cette structure</div>
              <div>accompagnera Comète dans cette volonté.</div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row prog-padding">
        <div class="col-xs-12 text-center">
          <img src="img/programmation/activities.png" class="img-responsive prog-title" alt="activities">
        </div>
      </div>
      <div class="row prog-padding prog-activities hidden-xs hidden-sm">
        <div class="col-xs-offset-1 col-xs-10">
          <img src="img/programmation/activities_round.png"class="img-responsive" alt="activities">
        </div>
      </div>
      <div class="row prog-padding prog-activities visible-xs visible-sm">
        <div class="col-xs-offset-1 col-xs-10">
          <img src="img/programmation/activities_round_mobile.png"class="img-responsive" alt="activities">
        </div>
      </div>
    </div>

  </div>
</div>
